.recommend {
  max-width: 400px;
  /* margin: 0 0 0 auto; */
  display: flex;
  align-items: center;
}

.recommend__item {
  margin-left: 0;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

.recommend__list {
  padding: 0;
}

.recommend .typeIcon {
  margin-right: 0.5rem;
}

.recommend .typeText{
    margin-right: 0.5rem;
}

.recommend ul {
  list-style-type: none;
}

@media screen and (max-width: 500px) {
    .recommend {
      font-size: 0.7rem;
      max-width: 300px;
    }
    .recommend .typeIcon {
        width:1.6;
    }
  }
  
