
circle.base_happiness{
    fill: var(--happiness);
    stroke:  var(--egg-step);
    stroke-opacity: 0.5;
    stroke-width: 2;
}

circle.base_happiness-caught{
    stroke:  var(--catch-rate);
}



path.capture_rate{
    stroke: var(--catch-rate);
}

text.capture_rate, textPath.capture_rate{
    fill: var(--catch-rate);
}

path.base_egg_steps{
    stroke: var(--egg-step);
}

text.base_egg_steps, textPath.base_egg_steps{
    fill: var(--egg-step);
}

.curvesbar text, .sizeplot text{
    font-size: 0.7rem;
}

.curvesbar g.tick text {
    font-size: 0.7rem;
  }

@media screen and (max-width: 500px) {
.curvesbar g.tick text {
    /* transform: rotate(-90deg) translate(-6%, -6%); */
    transform: rotate(-90deg) translate(-0.5rem, -4%);
    text-anchor: end;
    font-size: 0.7rem;
  }
}