.defense{
    fill:green;
    opacity: 0.5;
}
.sp_defense{
    fill:green;
    opacity: 0.5;
}

.sp_defense line{
    stroke:green;
    opacity: 0.5;
}

.hp{
    fill: red;
    opacity: 0.5;

}

.attack{
    fill:orange;
    opacity: 0.5;
}

.sp_attack{
    fill:orange;
    opacity: 0.5;
}

.sp_attack line{
    stroke:orange;
    opacity: 0.5;
}

.speed{
    opacity: 0.5;
    fill:blue;
}

.speed > line{
    stroke: blue;
}

/* .speed > line{
    stroke: blue
} */