.footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--pokemon-blueish);
    color: var(--pokemon-darkblue);
    padding-top:4rem;
    padding-bottom:4rem;
    gap:2rem;
}

.footer__text{
    /* margin: 2rem auto 2rem 0; */
    opacity: 0.8;
    flex: 1 1 80%;
}

.footer__text p{
    margin: 0;
}

.footer__img
{
    height: 5rem;
}

.footer__img + .footer__img
{
    margin-left: 1rem;
}

.footer__text p + p{
    margin-top: 1rem;
}

@media screen and (max-width: 850px) {
    .footer {
      font-size: 0.8rem;
    }
  }
  