.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 1rem;
  justify-content: space-around;
}

.header__logo {
  /* margin-right: 3rem; */
}

.header__title {
  margin-top: 3rem;
}

@media screen and (max-width: 500px) {
  .header {
    padding-bottom: 1rem;
  }
  .header__title{
      text-align: center;
  }
}
