.header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: space-around;
}


/* @media screen and (max-width:500px) {
    .header{
        justify-content: space-around;
    }
  } */



.header__logo{
    /* margin-right: 3rem; */
}

.header__title {
    margin-top: 3rem;
}
