.sectionExplore__graphics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sectionExplore .section__header {
  margin-top: 2rem;
  margin-bottom: 0;
}
