.sectionTypes__graphics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sectionTypes .section__header {
  margin-bottom: 0rem;
}

@media screen and (max-width: 500px) {
  .chord {
    display: block;
    margin: 0 auto;
  }
}
