.card {
  position: relative;
  width: 100%;
  max-width: 20rem;
  padding: 1.6rem;
  border-radius: 10px;
}

.card__wrapper{
    text-align: center;
    align-self: flex-end;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__name {
  text-align: left;
}

.card__name > h3 {
  margin: 0;
}

.card__name > p {
  margin: 0;
}

.card__types {
  width: 6rem;
  text-align: right;
}

.typeIcon {
  width: 2rem;
}

.typeIcon + .typeIcon {
    margin-left: 0.3rem;
}

.card__portrait {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.card__info{
    display: flex;
    justify-content: space-between;
}




.card__info > .info{
    display: inline;
    font-size: 0.8rem;
    text-align: right;
}

.info.classification{
    text-align: left;
}

.info + .info{
    /* margin-left: 1rem; */
}

span.highlight{
    color: var(--pokemon-blue);
}

span.dim{
    color: rgb(144, 144, 144)
}

.card__label {
  min-width: 9rem;
  text-align: left;
  margin-top: 0.1rem;
  font-size: 0.9rem;
}

.card__weakness {
    margin-top: 1rem;;
}

.card__weakness,
.card__resistance {
  display: flex;
  margin-bottom: 0.2rem;
}

.weakness__wrapper >.typeIcon,
.resistance__wrapper > .typeIcon {
  width: 1.6rem;
}

.weakness__wrapper >.typeIcon + .typeIcon,
.resistance__wrapper > .typeIcon+ .typeIcon{
    margin-left: 0.3rem;
}

.resistance__wrapper,.weakness__wrapper{
    text-align: left;
}


.meter {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.meter__label {
  text-align: left;
  width: 6rem;
  font-size: 0.9rem;
}

.meter__value {
  margin-left: 0.5rem;
  color: var(--pokemon-blue);
}

.meter__rect {
  display: inline-block;
}

.meter__rect--bcg {
  position: relative;
  background-color: rgba(129, 129, 129, 0.521);
  opacity: 0.5;
  border-radius: 5px;
}

.meter__rect--value {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--pokemon-blue);
  border-radius: 5px;
}

/* span.meter__rect--value.HP{
    background-color: var(--hp);
} */
