html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;   
}

body{
  margin: 0;
  padding: 0;
  /* font-family: typography.$body-font-family;
  font-size: typography.$base-font-size; */
  line-height: 1.5;
}

img{
  max-width: 100%;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


