:root {
  --pokemon-blueish: #b1e1ff68;
  --pokemon-blue: #0075be;
  --pokemon-darkblue: #0a285f;
  --pokemon-yellow: #ffcc00;
  --pokemon-darkyellow: #d5a100;
  --main-font: "Red Hat Mono";

  --hp: #2d9e00;
  --speed: #511dfb;
  --defense: #63bef6;;
  --sp-defense: #005bcb;
  --attack: #ffa353;
  --sp-attack: #df3f06
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font), monospace;
  background-color: var(--pokemon-blue);
  /* font-family: typography.$body-font-family;
  font-size: typography.$base-font-size; */
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.App {
  background-color: white;
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
}

@media screen and (max-width: 1256px) {
  .App {
    width: 100%;
    /* text-align: center; */
  }
}

.pad {
  padding-left: 6rem;
  padding-right: 6rem;
}

h1 {
  /* font-family: "Pokemon Fire Red"; */
  font-size: 3rem;
  color: var(--pokemon-blue);
  text-transform: capitalize;
}

h2 {
  font-size: 1.5rem;
  color: var(--pokemon-blue);
}

section {
  margin-bottom: 4rem;
}

.section__header {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 2rem;
}

span.step {
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Pokemon", monospace;
  background-color: var(--pokemon-blue);
  color: var(--pokemon-yellow);
  text-align: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  padding: 0.25em 0; /* ('line-height' - 'font-size') / 2 */
  margin-right: 2rem;
  border-bottom: 3px solid var(--pokemon-darkblue);
  border-left: 3px solid var(--pokemon-darkblue);
  text-shadow: 1px -1px 0 var(--pokemon-darkyellow);
}

/* AXIS */
/* .domain{stroke:none;} */
g.tick line {
  stroke: none;
}
g.tick text {
  font-family: var(--main-font), monospace;
}

/* MEDIA */

@media screen and (max-width: 1200px) {
  .pad {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .pad {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }

  .pad {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  .pad {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
