.helper{
    position: absolute;
    font-size: 0.7rem;
    padding: 1rem;
    border: 1px rgba(0, 0, 0, 0.256) solid;
    border-radius: 10px;
    background-color: white;
}

.heatmap .helper{
    left: -10%;
    top:-2%;
    width: 30%;
}

@media screen and (max-width: 600px) {

    .heatmap .helper{
        font-size: 0.6rem;
        left: 1rem;
        top:-2rem;
        width: 40%;
    }
  }
  