span.grass {
  color: rgba(var(--grass), var(--span--opacity));
}
span.fire {
  color: rgba(var(--fire), var(--span--opacity));
}
span.water {
  color: rgba(var(--water), var(--span--opacity));
}
span.bug {
  color: rgba(var(--bug), var(--span--opacity));
}
span.normal {
  color: rgba(var(--normal), var(--span--opacity));
}
span.poison {
  color: rgba(var(--poison), var(--span--opacity));
}
span.electric {
  color: rgba(var(--electric), var(--span--opacity));
}
span.ground {
  color: rgba(var(--ground), var(--span--opacity));
}
span.fairy {
  color: rgba(var(--fairy), var(--span--opacity));
}
span.fighting {
  color: rgba(var(--fighting), var(--span--opacity));
}
span.psychic {
  color: rgba(var(--psychic), var(--span--opacity));
}
span.rock {
  color: rgba(var(--rock), var(--span--opacity));
}
span.ghost {
  color: rgba(var(--ghost), var(--span--opacity));
}
span.ice {
  color: rgba(var(--ice), var(--span--opacity));
}
span.dragon {
  color: rgba(var(--dragon), var(--span--opacity));
}
span.dark {
  color: rgba(var(--dark), var(--span--opacity));
}
span.steel {
  color: rgba(var(--steel), var(--span--opacity));
}
span.flying {
  color: rgba(var(--flying), var(--span--opacity));
}
